
main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50%;
}

.sign-up {
    background-image: url(../assets/sign-up.jpg);
}

.log-in {
    background-image: url(../assets/log-in.jpg);
}

label {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    margin: 20px;
    font-size: 1.3rem;
    font-weight: bold;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 20em;
    height: 20em;
    background-color: rgba(70, 65, 65, 0.774);
    border-radius: 10px;
}

.btn-container {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 3rem;
    
}

button {
    font-size: 20px;
    width: 8rem;
    border: white solid 3px;
    color: white;
    background-color: rgba(0, 0, 0, 0.596);
    border-radius: 10px;
    cursor: pointer;
    transition: .2s all ease-in-out;
}

input {
    margin-top: 10px;
    font-size: 20px;
}
#create-btn:hover {
    background-color: rgba(54, 92, 118, 0.822);
}

#submit-btn:hover {
    background-color: rgba(47, 53, 8, 0.534);
}

.error-message {
    position: absolute;
    bottom: 25%;
    padding: 10px;
    border-radius: 10px;
    background-color: rgba(255, 0, 0, 0.582);
    color: white;
    font-size: 2em;
    font-weight: bold;
}
